* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f4f6f9;
    display: flex;
}

.sidebar {
    width: 220px;
    background: #2f4bb6;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    margin-bottom: 10px;
    opacity: 0.9;
}

.menu a:hover {
    opacity: 1;
    font-weight: bold;
}

.main {
    flex: 1;
    padding: 25px;
}

h1 {
    margin-bottom: 20px;
}


.filters {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

select, input[type="date"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

th {
    background: #f1f3f7;
    font-weight: bold;
}

td:first-child {
    text-align: left;
    padding-left: 20px;
}


.present { accent-color: green; }
.absent { accent-color: red; }
.late { accent-color: orange; }

.actions {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.save-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn:hover {
    background: #218838;
}

.auto {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: none;
    overflow: hidden;
    min-width: 120px;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown a:hover {
    background: #f1f1f1;
}