*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    background-image: url(4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.p{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 20px 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:lightblue;   
    padding: 10px;
}
.nav-link{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-link li{
    margin-left: 40%;
}
.nav-link a {
    color: beige;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 4px;
}




